<div>
  <form [formGroup]="formulario" (ngSubmit)="guardar()">

    <div class="column-izq">
      <button mat-raised-button type="button" (click)="agregar()">Adicionar</button>
    </div>

    <div class="column-center">
      <div formArrayName="cajaP" *ngFor="let s of contenidoP.controls; let i = index ">
          <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Nombre</mat-label>
            <input 
            matInput type="text"
            #message
            maxlength="256"
            [formControlName]="i"
            >
          </mat-form-field>

            <!-- BOTON MODIFICADO -->
            <button mat-stroked-button color="accent" (click)="limpiarCajas()" type="button ">Limpiar</button>
            <!-- eliminar caja dinamica -->
          <button mat-raised-button color="warn" (click)="borrarCaja(i)" type="button">Eliminar</button>
      </div>

      
      <div class="der">
        
        <!-- limpiar caja  -->
        <button mat-raised-button type="button" (click)="limpiarCajaG()">Limpiar Caja</button>
      </div>
      
      <mat-form-field class="example-full-width" appearance="fill">
        <textarea matInput  cols="30" 
        rows="7"> {{ contenido2 }} </textarea>
      </mat-form-field>
      
      
    </div>

    <div class="column-der">


      <div class="izq">
        <small>Acciones</small>
        <!-- Guardar -->
        <button mat-raised-button (click)="guardar()" [disabled]="formulario.invalid">Guardar</button>

        <!-- reset -->
        <button mat-raised-button type="reset" (click)="limpiar()">Limpiar</button>
      </div>
      
    </div>
  </form>
</div>
